[db]
XXX.XXX.XXX.XXX

[rabbitmq]
XXX.XXX.XXX.XXX

[nginx]
XXX.XXX.XXX.XXX

[app]
XXX.XXX.XXX.XXX

[elk]
XXX.XXX.XXX.XXX

[all:vars]
ansible_user=
ansible_become_password=

[db:vars]
ads_db_name=
ads_db_user=
ads_db_password=
auth_db_name=
auth_db_user=
auth_db_password=

[rabbitmq:vars]
rabbitmq_user=
rabbitmq_password=
